/**头部组件**/
$header-bg-color := #adff2f
$header-font-color := white
$header-logo-color := white

/**用户信息组件**/
$userInfor-bg-color := white

//tab组件
$tab-item-bg-color := linear-gradient(to bottom,#F5F5F5,#C0C0C0)
$tab-item-color := black
$tab-item-active-color := orange

//list-header组件
$list-header-logo-color := #c0c0c0